.genre {
    /* border:1px solid #ccc; */
    padding:10px;
    margin:0 0 10px;
    /* display:block; */
}

.game {
    /* border:1px solid #ccc; */
    padding:10px;
    margin:0 0 10px;
    display:block;
}

.page_link {
    padding:10px;
}

.link:hover {
    background:#eee;
    cursor:pointer;
}

a {
    text-decoration: none; /* no underline */
}

.game_link {
    color: black;
}