{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h2>Home Page</h2>

{% if session.user_id %}
<p>Hello {{session.username}}</p>
<a class="link page_link", href="/add">Add Game</a>
<a class="link page_link", href="/logout">Sign Out</a>
{% else %}
<a class="link page_link", href="/login">Sign In</a>
{% endif %}
<hr>

{% for game in games %}
<a class="game_link", href="/game/{{ game[0] }}"><div class="game link"><b>{{game[1]}}</b><br>by {{game[2]}}</div></a><br>
{% endfor %}

{% endblock %}